aiohappyeyeballs
aiohttp
aiosignal
annotated-types
attrs
black
cairocffi
CairoSVG
certifi
cffi
cfgv
charset-normalizer
click
colorama
coverage
cssselect2
defusedxml
distlib
filelock
flake8
freezegun
frozenlist
identify
idna
imageio
iniconfig
mccabe
memory-profiler
multidict
mypy
mypy_extensions
nodeenv
Nuitka
numpy
ordered-set
packaging
pathspec
pillow
platformdirs
pluggy
pre_commit
propcache
psutil
py-cpuinfo
pycodestyle
pycparser
pydantic
pydantic_core
pyflakes
Pygments
PySide6
PySide6_Addons
PySide6_Essentials
pytest
pytest-asyncio
pytest-benchmark
pytest-cov
pytest-mock
pytest-qt
pytest-xvfb
python-dateutil
PyVirtualDisplay
PyYAML
requests
responses
shiboken6
six
tinycss2
typing-inspection
typing_extensions
urllib3
virtualenv
webencodings
yarl
zstandard
